@model AddressViewModel

<br>
<br>
<h2 class="title-section">Address</h2>
<hr />

<div class="container mt-5">
    <div class="row">
      

        <!-- Address Details -->
        <div class="col-md-12">
            <div class="profile-card">
                <h4 class="margin-bottom-20">Address Details</h4>
                <ul>
                    <li><strong>Name:</strong> @Model.name</li>
                    <li><strong>City:</strong>  @Model.city</li>
                    <li><strong>State:</strong>  @Model.state</li>
                    <li><strong>Zipcode:</strong>  @Model.zipcode</li>
                    <li><strong>Country:</strong>  @Model.country</li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a class="btn btn-dark mt-4" asp-controller="Account" asp-action="UsersList">Back to list</a>

</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}  