@model List<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<br>
<br>

<div style="display: flex; justify-content: space-between; align-items:center;margin:10px;">
    <h2 class="title-section">Users</h2>
    <a asp-controller="Account" asp-action="RegisterAdmin" class="btn btn-primary"> <i class="bi bi-person-plus"></i> &nbsp; New User</a>
</div>
<hr />

<div style="max-height:700px;overflow:scroll;">
    <table class="table table-bordered table-striped table-transparent">
        <thead class="thead-dark">
            <tr>
                <th class="text-dark text-center align-middle" style="border-right:inherit !important;">Email</th>
                <th class="text-dark text-center align-middle" style="border-right:inherit !important;">First Name</th>
                <th class="text-dark text-center align-middle" style="border-right:inherit !important;">Last Name</th>
                <th class="text-dark text-center align-middle " style="border-right:inherit !important;">Address</th>
                
                <th class="text-dark text-center align-middle" style="border-right:inherit !important;"></th>
            </tr>
        </thead>



        <tbody>
            
            @foreach (var user in Model)
            {

                <tr>
                    <td class="border-left text-body text-center align-middle" style="border-right:inherit !important;">@user.Email</td>
                    <td class="border-left text-body text-center align-middle" style="border-right:inherit !important;">@user.FirstName</td>
                    <td class="border-left text-body text-center align-middle" style="border-right:inherit !important;">@user.LastName</td>
                    <td class="d-flex justify-content-center " style="border-right:inherit !important;">
                        <div class="btn-group d-flex justify-content-between align-items-center me-4" role="group">
                            
                            <a class="btn btn-primary " asp-controller="Account" asp-action="AddressDetail" asp-route-email="@user.Email" style="background-color:transparent;">
                                <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Address
                            </a>
                            
                        </div>

                        <div class="btn-group d-flex justify-content-between align-items-center me-4" role="group">

                            <a class="btn btn-secondary " asp-controller="Account" asp-action="UpdateAddress" asp-route-id="@user.Address.AddressId" style="background-color:transparent;">
                                <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Edit
                            </a>
                            
                        </div>

                        <div class="btn-group d-flex justify-content-between align-items-center" role="group">
                            <a class="btn btn-primary" asp-controller="Account" asp-action="DeleteUser" asp-route-email="@user.Email" style="background-color:darkred;">
                                <i class="bi bi-trash2-fill" style="margin-right:5px;"></i>Remove
                            </a>
                        </div>

                    </td>
                    
                </tr>

            

            }
        </tbody>
    </table>
</div>

<div class="container">
    <a class="btn btn-dark mt-4"  asp-controller="Home" asp-action="Index">Back to Home Page</a>

</div>

