@model AddressViewModel

<br>
<br>
<h2 class="title-section">Address</h2>
<hr />

<div class="container mt-5">
    <div class="row">
      

        <!-- Address Details -->
        <div class="col-md-12">
            <div class="profile-card">
                <h4 class="margin-bottom-20">Address Details</h4>
                <ul>
                    <li><strong>Name:</strong> @Model.name</li>
                    <li><strong>City:</strong>  @Model.city</li>
                    <li><strong>State:</strong>  @Model.state</li>
                    <li><strong>Zipcode:</strong>  @Model.zipcode</li>
                    <li><strong>Country:</strong>  @Model.country</li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center " style="border-right:inherit !important;">
    <div class="w-10 btn-group d-flex justify-content-between align-items-center me-2" role="group">

        <a class="btn btn-primary " asp-controller="Account" asp-action="UsersList" style="border-radius: 15px;margin-left:10px;background-color:transparent;">
            <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Back To List
        </a>

    </div>

    <div class="w-10 btn-group d-flex justify-content-between align-items-center gap-2" role="group">

        <a class="btn btn-secondary " asp-controller="Account" asp-action="UpdateAddress" asp-route-id="@Model.AddressId" style="border-radius: 15px;margin-left:10px;background-color:transparent;">
            <i class="bi bi-sign-turn-right-fill" style="margin-right:5px;"></i>Edit
        </a>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}  