@model RegisterVehicleModelViewModel
<br>
<br>
<h2 class="title-section">Register Vehicle Model</h2>
<hr />



<form asp-action="Create" method="post">
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ModelShortName">Model Short Name</label>
        <input type="text" class="form-control" asp-for="ModelShortName" />
        <span asp-validation-for="ModelShortName" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ModelLongName">Model Long Name</label>
        <input type="text" class="form-control" asp-for="ModelLongName" />
        <span asp-validation-for="ModelLongName" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ModelYear">Model Year</label>
        <input type="number" min="1980" max="2030" value= "1980" title="Enter a number between 1980 and 2030" class="form-control" asp-for="ModelYear" />
        <span asp-validation-for="ModelYear" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="VehicleType">Vehicle Type</label>
        <select asp-for="VehicleType" class="form-control" asp-items="@(new SelectList(Model.VehicleTypeOptions, "Key", "Value"))">
            <option value="">Select Vehicle Type</option>
        </select>
        <span asp-validation-for="VehicleType" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="EngineCode">Engine Code</label>
        <select asp-for="EngineCode" class="form-control" asp-items="@(new SelectList(Model.EngineCodeOptions, "Key", "Value"))">
            <option value="">Select Engine Code</option>
        </select>
        <span asp-validation-for="EngineCode" class="text-danger"></span>

    </div>

   

    <div class="form-group">
        <label asp-for="ManufacturedCountry">Manufactured Country</label>
        <select asp-for="ManufacturedCountry" class="form-control" asp-items="@(new SelectList(Model.ManufacturedCountryOptions, "Key", "Value"))">
            <option value="">Select Country</option>
        </select>
        <span asp-validation-for="ManufacturedCountry" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="Manufacturer">Manufacturer</label>
        <select asp-for="Manufacturer" class="form-control" asp-items="@(new SelectList(Model.ManufacturerOptions, "Key", "Value"))">
            <option value="">Select Manufacturer</option>
        </select>
        <span asp-validation-for="Manufacturer" class="text-danger"></span>

    </div>


    <div class="form-group">
        <label asp-for="ManufacturedPlant">Manufactured Plant</label>
        <select asp-for="ManufacturedPlant" class="form-control" asp-items="@(new SelectList(Model.ManufacturedPlantOptions, "Key" , "Value"))">
            <option value="">Select Manufactured Plant</option>
        </select>
        <span asp-validation-for="ManufacturedPlant" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="CheckDigit">Check Digit</label>
        <select asp-for="CheckDigit" class="form-control" asp-items="@(new SelectList(Model.CheckDigitOptions))">
            <option value="">Select Check Digit</option>
        </select>
        <span asp-validation-for="CheckDigit" class="text-danger"></span>

    </div>
    <div class="d-flex justify-content-center mt-3 " style="border-right:inherit !important;">
      
        <div class="w-10 btn-group d-flex justify-content-between align-items-center gap-2" role="group">
            <button type="submit" class="btn btn-outline-dark">Register</button>
        </div>

    </div>
    
</form>